* {
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background-color: #070707;
    margin: 0 auto;
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.player-gui {
    width: 15%;
    background-color: rgba(83, 0, 0, 0.397);
}

.player-gui .name {
    width: 100%;
    text-align: center;
    background-color: rgba(133, 0, 0, 0.493);
    padding: 1rem;
    font-size: 1.5rem;
    font-family: 'Audiowide', regular;
}

#game-arena {
    background-color: rgba(0, 255, 255, 0.205);
    width: 80%;
}

.layer {
    position: relative;
    width: 100%;
    height: 100%;
}